* {
  margin: 0;
  padding: 0;
}

.grid_container {
  display: grid;
  width: 100%;
  grid-template-areas:
    "header header"
    "sidebar sidebar"
    "content content"
    "footer footer";
  grid-template-rows: 50px 1fr 1fr 40px;
  grid-template-columns: 250px 1fr;
  grid-gap: 20px;
}
#box1 a {
  text-decoration: none;
}
.box1 {
  grid-area: header;
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: cornsilk;
  font-size: x-large;
  text-align: center;
  vertical-align: middle;
}
.box2 {
  grid-area: sidebar;
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: lightgrey;
}

.box3 {
  grid-area: content;
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: -1;
  background-color: rgb(247, 250, 230);
  justify-content: center;
  align-items: center;
  display: flex;
  vertical-align: middle;
}

.box4 {
  grid-area: footer;
  grid-row-start: 3;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: rgb(230, 250, 233);
}

@media screen and (min-width: 736px) {
  .grid_container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px 1fr 1fr 40px;
    grid-gap: 20px;
    grid-template-areas:
      "header header"
      "sidebar content"
      "sidebar content"
      "footer footer";
    justify-content: center;
  }
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(180, 180, 180);
}
